.usersInner {
    position: relative;
}

.usersWrapper {
    display: flex;
}

.users__leftSide {
    text-align: center;
    margin-right: 30px;
}

.usersPhoto {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10%;
    border: #ffffff 2px solid;
}

.usersBtn {
    border: none;
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 4px;
    background: #C8DCFFFF;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 40px;
}

.users__rightSide {

}

.pagination {
    color: #535353;
    font-size: 22px;
    width: 100%;
    cursor: pointer;
    margin: 5px;
}
.usersPagination{
    padding: 10px;
}

.usersPagination span{
    padding: 10px;
}
.pages {
    cursor: pointer;
    color: #535353;
}
.selectedPage {
    font-weight: 700;
    text-decoration: underline;

}

.usersItems {
    margin: 10px;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.pageBtnDisplayNone {
    display: none;
}

.pageBtn {
    font-size: 18px;
    margin: 0 10px;
    line-height: 20px;
    background: transparent;
    border: none;
}





