.posts {
    margin-top: 40px;
}

.myPosts__input_inner {
    margin: 0 10px;
}

.myPosts__input {
    margin-top: 20px;
    width: 100%;
    height: 100px;
    resize: none;
    padding: 4px 10px;
}

button {
    cursor: pointer;
}

.myPosts__button {
    border: none;
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 4px;
    background: #535353;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 0 30px;
}