.header {
    grid-column: 1/6;
    background: #C8DCFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.header__inner {

}

.headerLogo {
    width: 100px;
    display: inline-block;
}

.headerTitle {
    display: inline-block;
    color: #000;
    font-size: 44px;
    padding-right: 24px;
}

.loginBlock {
    font-size: 22px;
    margin-right: 20px;
    margin-top: 50px;
}

.loginLogoutBtn {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    font-weight: 500;
    background: transparent;
    border: none;
    font-size: 14px;
}

.loginLogoutBtn:hover {
    text-decoration: underline;
}










