.navbar {
    padding: 10px;
    grid-column: 1/2;
    grid-row-start: 3;
    background: linear-gradient(45deg, #ffffff, #c8dcff);
}

.navbarItem {
    text-transform: uppercase;
    padding: 3px 0;
}

.navbarItem:hover :after{
    content: '  🦉';
    font-size: 20px;
    line-height: 20px;
}

.navbarItem__link {
    display: block;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
    padding: 10px;
}


.navbarItem a.active {
    background: #81afff;
    color: #000;
    border-radius: 4px;
}

.friendsOnline {

}
