.formControl {

}

.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.inputWindow {
    padding: 2px 5px;
    height: 22px;
    resize: none;
}

.errorMessage {
    color: red;
    margin: 10px 0;
}



