.loginFormWrapper {
    margin: 20px 0;
}

.loginFormWrapper div {
    margin: 10px 0;

}

.loginBtn {
    border: none;
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 4px;
    background: #535353;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 0 30px;
}

.formSummaryError {
    padding: 5px;
    color: #ff2929;
}
