.dialogs {
    display: flex;

}

.dir__title {
    font-size: 20px;
    line-height: 20px;
    margin: 20px 0;
    font-weight: 400;
}

.dialogUsers {

}

.dialogMessages__wrapper {
    width: 100%;
}

.dialogMessages {

}

.dialogFormWrapper {
    margin: 20px 0;
}

.dialogFormWrapper div {
    margin: 10px 0;
}

.dialogMessages__input {
    margin-top: 20px;
    width: 100%;
    height: 100px;
    resize: none;
    padding: 4px 10px;
}

.dialogMessages__btn {
    border: none;
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 4px;
    background: #535353;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 0 30px;
}























